@import url("https://fonts.googleapis.com/css?family=Bungee|Hind|PT+Sans|Pacifico|Poppins|Lobster");


body {
    background-image: url('default.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


:root {
    --lobster: "Lobster", cursive;
  }
  
.navbar {
    background-color: #0b2b3d;
  }

.navbar-brand {
    padding-left: 5px;
    font-family: var(--lobster);
    font-size: 2rem;
}
