@import url("https://fonts.googleapis.com/css?family=Bungee|Hind|PT+Sans|Pacifico|Poppins|Lobster");


body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
:root {
    --lobster: "Lobster", cursive;
  }
  
.navbar {
    background-color: #0b2b3d;
  }

.navbar-brand {
    padding-left: 5px;
    font-family: var(--lobster);
    font-size: 2rem;
}
#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}
